<h1 class='text-center'><%= t "index.title.cpu_coolers"  %></h1>
<div class="parts">
  <ul class='list-group row'>
  <% @cpu_coolers.each do |cpu_cooler| %>
    <li class="list-group-item"><%= link_to "#{cpu_cooler.name}", cpu_cooler_path(cpu_cooler) %></li>
  <% end %>
  </ul>
</div>
