<h1 class='text-center'><%= t "index.title.processors"  %></h1>
<div class="parts">
  <ul class='list-group row'>
  <% @cpus.each do |cpu| %>
    <li class="list-group-item"><%= link_to "#{cpu.name}", cpu_path(cpu) %></li>
  <% end %>
  </ul>
</div>
