<h1 class='text-center'><%= t "index.title.memory_cards"  %></h1>
<div class="parts">
  <ul class='list-group row'>
  <% @memory_cards.each do |memory_card| %>
    <li class="list-group-item"><%= link_to "#{memory_card.name}", memory_card_path(memory_card) %></li>
  <% end %>
  </ul>
</div>
