<div class="large-10 columns content">
    <%= render "layouts/flash" %>
    <%# Rails flash messages styled for Zurb Foundation %>
    <% if !current_user %>
      <div data-alert class="alert-box info radius">
            <%= t "index.start_build_msg" %>
          <a href="#" class="close">&times;</a>
      </div>
    <% end %>
  <div id="app"></div>
</div>
