<h1 class='text-center'><%= t "index.title.power_suplies"  %></h1>
<div class="parts">
  <ul class='list-group row'>
  <% @power_supplys.each do |power_supply| %>
    <li class="list-group-item"><%= link_to "#{power_supply.name}", power_supply_path(power_supply) %></li>
  <% end %>
  </ul>
</div>
