<div class="large-10 columns content">
  <h3><%= t "index.title.tutorials"  %>:</h3>
  <div class="Tutorials">
    <ul>
    <% @tutorials.each do |tutorial| %>
      <li><iframe src="https://www.youtube.com/embed/<%=tutorial.url%>?rel=0&autoplay=<%= params[:autoplay] || 0 %>" frameborder='1' allowfullscreen></iframe></li>
      <li><%= tutorial.name  %></li>
    <% end %>
    </ul>
  </div>
</div>
