<h1 class='text-center'><%= t "index.title.network_cards"  %></h1>
<div class="parts">
  <ul class='list-group row'>
  <% @network_cards.each do |network_card| %>
    <li class="list-group-item"><%= link_to "#{network_card.name}", network_card_path(network_card) %></li>
  <% end %>
  </ul>
</div>
