<h1><%= t "index.title.video_cards"  %></h1>
<div class="parts">
  <ul>
  <% @video_cards.each do |video_card| %>
    <li><%= link_to "#{video_card.name}", video_card_path(video_card) %></li>
  <% end %>
  </ul>
</div>
