<h1 class='text-center'><%= t "index.title.video_cards"  %></h1>
<div class="parts">
  <ul class='list-group row'>
  <% @video_cards.each do |video_card| %>
    <li class="list-group-item"><%= link_to "#{video_card.name}", video_card_path(video_card) %></li>
  <% end %>
  </ul>
</div>
