<h1 class='text-center'><%= t "index.title.motherboards"  %></h1>
<div class="parts">
  <ul class='list-group row'>
  <% @motherboards.each do |motherboard| %>
    <li class="list-group-item"><%= link_to "#{motherboard.name}", motherboard_path(motherboard) %></li>
  <% end %>
  </ul>
</div>
