<h1 class='text-center'><%= t "index.title.computer_cases"  %></h1>
<div >
  <ul class='list-group row'>
  <% @computer_cases.each do |computer_case| %>
    <li class="list-group-item"><%= link_to "#{computer_case.name}", computer_case_path(computer_case) %></li>
  <% end %>
  </ul>
</div>
