<div class="no-padding sidebar">
  <aside class="large-2 medium-12 small-12 columns">
    <ul class="side-nav">
      <li><a href="/">All Builds</a></li>
      <li><a href="/cpus">Processor</a></li>
      <li><a href="/cpu_coolers">Cpu Cooler</a></li>
      <li><a href="/memory_cards">Memory</a></li>
      <li><a href="/video_cards">Video Card</a></li>
      <li><a href="/motherboards">Motherboard</a></li>
      <li><a href="/hard_drives">Storage</a></li>
      <li><a href="/network_cards">Network Card</a></li>
      <li><a href="/computer_cases">Case</a></li>
      <li><a href="/power_supplies">Power Supply</a></li>
      <li><a href="/tutorials">Tutorials</a></li>
    </ul>
  </aside>
</div>


